<mat-toolbar fxLayout="row" color="primary" class="mat-elevation-z6">
    <span fxFlex fxLayoutAlign="center">
        <img src="https://assets.pokemon.com/assets/cms2-pt-br/img/misc/gus/buttons/logo-pokemon-79x45.png" alt="logo">
    </span>
    <ng-container *ngFor="let item of itensMenu">
        <button mat-icon-button *ngIf="item.label === 'Pesquisa'" fxHide.xs>
            <mat-icon class="mr" (click)="search($event)">
                {{ item.icon }}
            </mat-icon>
        </button>
    </ng-container>
    <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
        <mat-icon>
            more_vert
        </mat-icon>
    </button>
    <mat-menu #dropMenu="matMenu">
        <ng-container *ngFor="let item of itensMenu">
            <button mat-menu-item>
                <mat-icon class="mr">
                    {{ item.icon }}
                </mat-icon>
                {{ item.label }}
            </button>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-menu>
</mat-toolbar>
